<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Action\Action">
        <plugin name="trainingunit1_ex4plugin"
            type="TrainingUnit1\Ex4Plugin\Plugin\LogDispatch"/>
    </type>
</config>
